<font face="verdana" color="black">
<h2 class="page-header">Register | Patient</h2>
{{#if user}}
        <div>Username has taken already try new</div>
{{/if}}
{{#if mail}}
        <div>Email has taken already try new</div>
{{/if}}
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<font face="verdana" color="black" size:"12">
<label>Enter Patient Information</label>
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Name</label>
    <!-- this is a placeholder which places "name" within the textbox -->
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
