<font face="verdana" color="black">
<h2 class="page-header">Login   |   TheraConnect Therapist Portal</h2>
<form method="post" action="/therapist/theraLogin">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Therapist Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
