<h2 class="page-header">Login   |   TheraConnect Patient Portal</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Patient ID</label>
    <input type="text" class="form-control" name="username" placeholder="Patient ID">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
