<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 10%;">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            Authentication
          </div>
          <div class="card-body">
            <form method="POST" action="/users/login">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username..." />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password..." />
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Sign In" />
                <a class="btn btn-secondary" href="/users/register" role="button">Register</a>
              </div>

              <% if(messages.error.length > 0) { %>
                <div class="alert alert-danger"><%= messages.error[0] %></div>
              <% } %>

              <% if(messages.success.length > 0) { %>
                <div class="alert alert-success"><%= messages.success[0] %></div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<% include ../partials/footer %>

</html>
