<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 10%;">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            Registration
          </div>
          <div class="card-body">
            <form method="POST" action="/users/register">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username..." />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password..." />
              </div>
              <div class="form-group">
                <label for="password_conf">Confirm Password:</label>
                <input type="password" class="form-control" name="password_conf" placeholder="Confirm Password..." />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email..." />
              </div>
              <div class="form-group">
                <label for="role">Role:</label>
                <select name="role" class="form-control">
                  <option value="0">Patient</option>
                  <option value="1">Therapist</option>
                </select>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Sign Up" />
                <a class="btn btn-secondary float-right" href="/users/login" role="button">Go Back</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<% include ../partials/footer %>

</html>
